.wb-unit9-p1-q1 {
  position: absolute;
  padding: 5px;
  top: 14.2%;
  left: 46.5%;
}

.wb-unit9-p1-q2 {
  position: absolute;
  padding: 5px;
  top: 61.3%;
  left: 45.5%;
}
.wb-unit9-p1-q3 {
  position: absolute;
  padding: 5px;
  top: 73.9%;
  left: 31%;
}
.wb-unit9-p2-q1 {
  position: absolute;
  padding: 5px;
  top: 3.4%;
  left: 54.5%;
}

.wb-unit9-p2-q2 {
  position: absolute;
  padding: 5px;
  top: 36.5%;
  left: 30.5%;
}
.wb-unit9-p3-q1 {
  position: absolute;
  padding: 5px;
  top: 3.5%;
  left: 39%;
}

.wb-unit9-p3-q2 {
  position: absolute;
  padding: 5px;
  top: 53.5%;
  left: 73.5%;
}
.wb-unit9-p4-q1 {
  position: absolute;
  padding: 5px;
  top: 3.4%;
  left: 55%;
}

.wb-unit9-p4-q2 {
  position: absolute;
  padding: 5px;
  top: 58.8%;
  left: 62%;
}
.wb-unit9-p5-q1 {
  position: absolute;
  padding: 5px;
  top: 3.4%;
  left: 31%;
}
.wb-unit9-p5-q2 {
  position: absolute;
  padding: 5px;
  top: 51.3%;
  left: 39%;
}
.wb-unit9-p6-q1 {
  position: absolute;
  padding: 5px;
  top: 9.5%;
  left: 40.5%;
}

.wb-unit9-p6-q2 {
  position: absolute;
  padding: 5px;
  top: 63.4%;
  left: 84%;
}
.wb-unit9-p6-q3 {
  position: absolute;
  padding: 5px;
  top: 72.5%;
  left: 94.5%;
}
