.headset-icon-CD-unit4-page6-1 {
  position: absolute;
  padding: 5px;
  top: 4%;
  left: 36%;
  cursor: pointer;
}

.click-icon-unit4-page6-1 {
  position: absolute;
  padding: 5px;
  top: 3.2%;
  left: 58%;
  cursor: pointer;
}
.click-icon-unit4-page6-2 {
  position: absolute;
  padding: 5px;
  top: 45.4%;
  left: 81.2%;
  cursor: pointer;
}
.headset-icon-CD-unit4-page6-2 {
  position: absolute;
  padding: 5px;
  bottom: 29%;
  left: 24%;
  cursor: pointer;
}
