.CB-review2-p1-q3-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 2px solid #e53935;
    border-radius: 12px;
    padding: 6px;
    background: #fff;
}


.CB-review2-p1-q3-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
 gap: 20px;
    margin-top: 20px;
}